body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:linear-gradient(135deg,#2f221e,#1d1402);
color:white;

display:flex;
justify-content:center;
align-items:center;

height:100vh;
}

/* main container */

#app{
width:100%;
max-width:420px;
padding:20px;
}

/* card layout */

.card{
background:#332d23;
padding:35px 25px;
border-radius:16px;

text-align:center;

box-shadow:0 15px 35px rgba(0,0,0,0.5);

animation:fadeIn 0.35s ease;
}

/* headings */

h1{
font-size:36px;
margin-bottom:10px;
}

h2{
margin-bottom:20px;
}

/* buttons */

button{
display:block;
width:100%;

margin:12px 0;
padding:14px;

font-size:18px;
font-weight:bold;

border:none;
border-radius:10px;

background:linear-gradient(135deg,#d18f00,#ffaa49);
color:white;

cursor:pointer;

transition:all 0.2s ease;
}

button:hover{
transform:scale(1.05);
box-shadow:0 5px 15px rgba(0,0,0,0.4);
}

button:active{
transform:scale(0.97);
}

/* inputs */

input{
width:100%;
padding:12px;
margin:10px 0;

border-radius:8px;
border:none;

font-size:16px;
}

/* player list */

ul{
list-style:none;
padding:0;
margin-top:10px;
}

li{
background:#332d23;
padding:8px;
margin:5px 0;
border-radius:6px;
}

/* animation */

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(10px);
}

to{
opacity:1;
transform:translateY(0);
}

}

.role-card{
perspective:1000px;
margin-top:20px;
}

.role-inner{
position:relative;
width:100%;
height:120px;

transition:transform 0.6s;
transform-style:preserve-3d;
}

.role-card.revealed .role-inner{
transform:rotateY(180deg);
}

.role-front,
.role-back{

position:absolute;
width:100%;
height:100%;

display:flex;
align-items:center;
justify-content:center;

border-radius:12px;

backface-visibility:hidden;

font-size:24px;
font-weight:bold;
}

.role-front{
background:#333;
}

.role-back{
background:#25211a;
transform:rotateY(180deg);
}

.pass-screen{

background:#25211a;
color:white;

height:200px;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

border-radius:12px;

font-size:22px;
}

/* DAY/NIGHT CYCLE */
body.day{
background:linear-gradient(135deg,#2f221e,#1d1402);
color:white;
}

body.night{
background:linear-gradient(135deg,#0b0f2a,#000);
color:white;
}

body{
transition:background 0.6s ease,color 0.6s ease;
}

/* mafia */

.role-mafia{
background:linear-gradient(135deg,#350000,#120000);
}

.role-mafia button{
background:linear-gradient(135deg,#7e0e0e,#690000);
}

/* doctor */

.role-doctor{
background:linear-gradient(135deg,#001e3b,#000914);
}

.role-doctor button{
background:linear-gradient(135deg,#0b5375,#0038a1);
}

/* detective */

.role-sheriff{
background:linear-gradient(135deg,#3b2800,#916300);
}

.role-sheriff button{
background:linear-gradient(135deg,#775306,#e68200);
}

/* jester */

.role-jester{
background:linear-gradient(135deg,#3b001d,#140009);
}

.role-jester button{
background:#690041;
}

.role-title{
margin-bottom:20px;
letter-spacing:2px;
}

/* mafia */

.role-mafia .role-title{
color:#ff4d4d;
text-shadow:
0 0 10px #ff0000,
0 0 20px #ff0000,
0 0 30px #660000;
}

/* doctor */

.role-doctor .role-title{
color:#2e8dcc;
text-shadow:
0 0 10px #2e9fcc,
0 0 20px #2e9fcc,
0 0 30px #224a94;
}

/* detective */

.role-detective .role-title{
color:#e4c200;
text-shadow:
0 0 10px #c4a600,
0 0 20px #c4a600,
0 0 30px #7e6e15;
}

/* jester */

.role-jester .role-title{
color:#bb006d;
text-shadow:
0 0 10px #990059,
0 0 20px #990059,
0 0 30px #66003b;
}